{% extends 'base.html' %}
{% block title %}Blog {% endblock %}


{% block body %}
<div class="pl-5 " style="padding-top: 150px; " class="container-fluid">
<div style="padding-left: 40px; padding-bottom: 20px;">
    <h1 style="color: rgb(146, 136, 136);">BLOG</h1>
</div>


<!-- 
<div class="row mb-5">
{% for blog in blogs %}
    <div style="border:2px solid #1111; padding:10px;box-shadow: rgba(0, 0, 0, 0.35) 10px 9px 15px; border-radius: 5px;" class="col-5 mr-5 ml-5 mb-5">
        <div>
            <h3 style="color: rgb(146, 136, 136);">{{ blog.title }}</h3>
        </div>
        <div class="row" style="display: flex; justify-content: center;">
            <div class="col-6 pb-2">
                <img src="{{ blog.img_src }}" alt="">
            </div>
            
            <div class="col-12">
               <p> {{blog.description}}</p>
             
            </div>
        </div>

    </div>
{% endfor %}
</div> -->
<div class="row mb-5">
    
        <div style="border:2px solid #1111; padding:10px;box-shadow: rgba(0, 0, 0, 0.35) 10px 9px 15px; border-radius: 5px;" class="col-5 mr-5 ml-5 mb-5">
            <div>
                <h3 style="color: rgb(146, 136, 136); margin-bottom: 20px;">A Place Of Calm Living - The Palm</h3>
            </div>
            <div class="row" style="display: flex; justify-content: center;">
                <div class="col-6 pb-2">
                    <img src="https://kediahomes.s3.us-east-2.amazonaws.com/static/gallery/Palm/ele-1.jpg" alt="">
                </div>
                
                <div class="col-12">
                   <p> 
                    Kedia’s Hands down, the palm is the best place to go for brilliant living! We all have dreamt to live at a place that is in the most primal location of the city, yet still peaceful and close to nature. Euphoria's abode – It's supposed to be yours! All the comforts and amenities are available in one place. With the well-planned infrastructure, there are many options for high-quality education and higher education, as well as hospitals, retail, and entertainment. The vast expanses of green in Jaipur provide you with the opportunity to explore nature unlike anywhere else in the city. A world-class place to live, The Palm will be unlike any other place.<br>

                    The Palm's meticulously crafted residences are the epitome of luxury living. The Palm flats by Kedia Homes are a mix of creativity and informed aesthetics with an eye for absolute detail, according to the developer. Design and architecture incorporate a variety of creative elements to create spectacular , contemporary yet very homely and natural interiors. An oasis of calm in the heart of The Pink City, The Palm offers spacious apartments that open onto expansive gardens. According to our original specifications, the project was constructed with high-quality materials, an exposed brick exterior, and plenty of natural light coming in through the large open space.<br>

                    At The Palm, we believe in offering you the best of experiences and amenities. Our comprehensive range of facilities include swimming pools if you are an avid swimmer to relax after a hectic day at work, well equipped gymnasiums, walk ways, cabana area, indoor games and a lot more!

                   </p>
                 
                </div>
            </div>
    
        </div>
        <div style="border:2px solid #1111; padding:10px;box-shadow: rgba(0, 0, 0, 0.35) 10px 9px 15px; border-radius: 5px;" class="col-5 mr-5 ml-5 mb-5">
            <div>
                <h3 style="color: rgb(146, 136, 136);margin-bottom: 20px;">A Unique Concept - The Oxygen</h3>
            </div>
            <div class="row" style="display: flex; justify-content: center;">
                <div class="col-6 pb-2">
                    <img src="https://kediahomes.s3.us-east-2.amazonaws.com/static/gallery/Oxygen/walk-2.jpg" alt="">
                </div>
                
                <div class="col-12">
                   <p> A new way of life<br>
                    By racing to the city, we've forgotten how important it is to take a break and enjoy a few blissful moments, just for ourselves. <br>
                    Bliss is a peaceful and happy state of being. That feeling you get when the sun shines on your back. It's how you feel when you're in a green environment and you're breathing in fresh air. Just before sunset, it's a quiet time of day. Clean and green environment can have such a huge impact on our lives. Living out of place that is filled with positive energies and a clean, green plantation can make us both physically and mentally healthy. The oxygen is based on the unique concept of walk up apartments and that makes it possible for you to have your own individual space while still maintaining the social connect.<br>
                    <br>
                    Walkup apartment 
                    It needs a quiet place to breathe and grow. Relinquish control of your own life - rediscover living at a safe and happy place. <br>
                    Waking up in a place filled with positivity and fresh air is a luxurious experience. Oxygen, a township meticulously mapped out and built on the novel concept of a walk-up apartment, with no elevators. Every aspect of the house has been planned with your needs in mind. The Oxygen strives to provide the best of both worlds by combining the spacious and open surroundings of a villa township with the social connection of an apartment. Take a deep breath and enjoy the crisp air surrounded by a lot of trees.<br>
                    <br>
                    A comprehensive solution<br>
                    The oxygen is a well-planned architectural structure. Apartments with private living spaces can be found in this magnificent superstructure, which offers privacy and comfort. The entire project is surrounded by a common terrace that extends to a long walking path. Apartment owners can count on us to provide solutions that are both cost-effective and aesthetically pleasing. Kedia Homes believes in building long-term relationships with our customers, not just selling them products or services.<br>
                    </p>
                 
                </div>
            </div>
    
        </div>
        <div style="border:2px solid #1111; padding:10px;box-shadow: rgba(0, 0, 0, 0.35) 10px 9px 15px; border-radius: 5px;" class="col-5 mr-5 ml-5 mb-5">
            <div>
                <h3 style="color: rgb(146, 136, 136);margin-bottom: 20px;">The Corporate Club - A place crafted for you</h3>
            </div>
            <div class="row" style="display: flex; justify-content: center;">
                <div class="col-6 pb-2">
                    <img src="https://kediahomes.s3.us-east-2.amazonaws.com/static/img/Corpnew.jpg" alt="">
                </div>
                
                <div class="col-12">
                   <p> 
                    A home that meets all of our needs and provides us with extreme comfort and luxury is something we've all wished for. Through the creation of magnificent homes that redefine the way you live, we've brought this concept to life. We have penthouses and apartments that are both affordable and luxurious, with a variety of amenities that are designed to provide you with the best that a home can offer. <br>
                    The corporate club is the perfect place for you and your family to flourish and have fun in a safe and secure setting. Comfort and convenience, as well as a significant return on your investment, are assured by its prime location in the heart of Pink City.<br>
                    <br>
                    At The Corporate Club you will find the city's most modern and comfortable upmarket penthouses. In the heart of the city, The Corporate Club offers affordable yet luxurious apartments and penthouses in a well-designed and well-built project. <br>
                    <br>
                    To meet all of your requirements, the house has been designed. You can work out in the gym, meditate in the gazebo, watch movies under the stars, or play games in the indoor games room to unwind at the end of the day. The corporate club has it all!<br>
                    <br>
                    All facilities under one roof! <br>
                    
                     To make every day luxurious and fun for all residents, a club house, a gym, and a games room have been built within the community. <br>
                    When it comes to architectural design, building development, lavish amenities and security Kedia Homes is committed to providing the best. As a result, using oxygen is one of the best ways to relax and enjoy your own beautiful home.<br>
                    
                    Run or walk on our long jogging track to stay in shape.<br> 
                    Indoor sports and board games are available in the play arena. <br>
                    High-tech fitness centre with the latest technology for a healthy lifestyle. <br>
                    The party lawn is a great place for friends and family to get together and have fun. <br>
                    Everything from gymnasiums, to swimming pool, to meditation area and so much more to keep you on the top of your routine! 
                    
                   </p>
                 
                </div>
            </div>
    
        </div>
        <div style="border:2px solid #1111; padding:10px;box-shadow: rgba(0, 0, 0, 0.35) 10px 9px 15px; border-radius: 5px;" class="col-5 mr-5 ml-5 mb-5">
            <div>
                <h3 style="color: rgb(146, 136, 136);margin-bottom: 20px;">The House Of Your Dreams In Jaipur</h3>
            </div>
            <div class="row" style="display: flex; justify-content: center;">
                <div class="col-6 pb-2">
                    <img src="https://kediahomes.s3.us-east-2.amazonaws.com/static/img/kothi_3.jpeg" alt="">
                </div>
                
                <div class="col-12">
                   <p> 
                    The construction of all the kedia projects are done with meticulous attention to detail. This magnificent structure provides privacy and comfort to an apartment with separate living rooms. A large walking path extends from the magnificent patio that arcs around the entire estate. We make every effort to provide the flat and penthouses with the most suitable possibilities. <br>
                    The infrastructure is well-designed, and it serves as a hub for adjacent high-quality schools, colleges, hospitals, retail, and entertainment. There is no other location in Jaipur that allows you to be as near to nature and comfort as the corporate club while still remaining in a natural setting.<br>
                    <br>
                    With innumerable projects in the city choose your favourite project according to your needs - The Oxygen consists of exceptional walkup apartments, The Palm - purveying exceptional apartments at the most primal of locations, The corporate club provides the best in flats and penthouses for you and your family! <br>
                    <br>
                    Kedia homes strive to enrich your everyday life with amenities to make your life more blissful and convenient. Some of the many facilities at our projects include - <br>
                    
                    1.	Jogging track — on our lengthy stretch of jogging track, go for a jog or early morning stroll and relax yourself! <br>
                    2.	Indoor games—you can play a range of indoor sports and board games at the play arena with your friends and families. <br>
                    3.	Gymnasium — a top-of-the-line workout centre with the latest instruments and gadgets to keep you in shape. <br>
                    4.	The party lawn is a terrific spot for getting together with friends and family. <br>
                    5.	Children's area- you and your loved ones safety matters the most to us. So we made a dedicated fun and safe place for children to spend their sunny mornings and evenings while getting some exercise.<br>
                    6.	Swimming pool - who doesn't love a good swim on warm, sunny days ? Dip into the world class pool and unwind your day perfectly!<br>
                    Explore the many facets of each of our projects and choose what suits you the best. <br>
                    
                   </p>
                 
                </div>
            </div>
    
        </div>
    
    </div>

{% endblock body %}