<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comingsoon</title>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://kediahomes.s3.us-east-2.amazonaws.com/static/css/bd-coming-soon.css">
</head>

<body class="min-vh-100 d-flex flex-column">

    <header>
        <div class="container">
            <nav class="navbar navbar-dark bg-transparenet">
                <a style="margin-left: -30px;" class="navbar-brand" href="#">
                    <span class="navbar-text ml-auto d-none d-sm-inline-block">1800-120-2323 </span>
                <span class="navbar-text d-none d-sm-inline-block">info@kediahomes.com</span>
                    <!-- <img class="img-fluid" style="height: 100px;" src="https://kediahomes.s3.amazonaws.com/static/img/logo%20for%20web%20new.png" alt="logo"> -->
                </a>
                
            </nav>
        </div>
    </header>
    <main class="my-auto">
        <div class="container">
            <h1 class="page-title">Coming Soon...</h1>
            <p class="page-description">
                Step into a regal mansion, step in to "The Kothi"
            </p>
            <p>Stay connected</p>
            <nav class="footer-social-links">
                <a href="https://www.facebook.com/kediahomesofficial" class="social-link"><i class="mdi mdi-facebook-box"></i></a>
                <a href="https://www.instagram.com/kediahomes_/" class="social-link"><i class="mdi mdi-instagram"></i></a>
                <a href="https://www.linkedin.com/company/kedia-homes/" class="social-link"><i class="mdi mdi-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCZwSNrlfc3zt6n1jmQXFeCQ" class="social-link"><i class="mdi mdi-youtube"></i></a>
                
            </nav>
        </div>
    </main>
</body>

</html>