{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %} Login {% endblock title %}
</head>

<body>
{% block body %}
    
    <div class="card bg-light" style="background-image: url({% static 'img/bricks.png' %})">
<article class="card-body mx-auto my-6" style="max-width: 100%; height: 670px; margin: 6rem;">
    <a class="text-center" href="/">
        <p class="text-center"><img src="{% static 'img/logo.png' %}" alt="logo" /></p>
      </a>
	<h4 class="card-title mt-3 text-center" style="color: whitesmoke;">Forgot Password</h4>
	

	<form>
	
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="" class="form-control" placeholder="Email address" type="email">
    </div> <!-- form-group// -->

                                       
    <div class="form-group">
        <button type="submit" class="btn btn-danger btn-block" style="background-color: red;">Submit</button>
    </div> <!-- form-group// -->      
    <p class="text-center" style="color: red;">Create an account! <a href="/kedia/login" style="color: whitesmoke;">Log In</a> </p>
</form>
</article>
</div>
{% endblock body %}
