{% extends 'base.html' %}
{% load static %}

{% block title %} Privacy Policy {% endblock title %}

{% block body %}
<br><br><br>
<div class="container my-5 pt-3">
<h3 style="color:red;">Privacy policy</h3>
<p>
This Privacy Policy outlines Kedia Hones / its affiliates’s approach to data protection and privacy to fulfil its obligations under the applicable laws and regulations and shall be read in conjunction with our Terms of Use document. This Privacy Policy applies to your data which is processed by us through the means of “____” application (“Mobile App”). We are committed to treating data privacy seriously and hence, have provided valuable information in our Privacy Policy in relation to the treatment of data provided by you. Our Privacy Policy is subject to change at any time without notice. To make sure you are aware of any changes, please review this policy periodically.
<br>
1. Collection of Data / Processing of data
Categories of data processed by us are as follows:
Demographic & Identity data
Contact details such as Name, email address, contact number, country, date of birth
Details such as transaction amount, Bank Name, Card Type, Card number.
Online Identifiers and other Technical Data
Location details such as data we get about your location, IP address, logs, or from where you connect a computer to the internet
Technical details such as device information, location and network carrier when you use our Mobile App.
Communications details such as the Metadata and other data we get from communications done through e-mails, SMS, instant messages and calls
Usage data details such as data about how you use our Mobile App or web-based properties, pages viewed, etc.
By using or continuing to use our Mobile App, you give us unconditional consent to collection, use, store and process your information (including your personal information) and the data generated or collected in the course of your using the Mobile App for purpose of transacting sale. The collection and processing of information is necessary to perform the agreement we have with you or to take steps to enter into an agreement with you and to do all acts in relation thereto. You agree and consent to KEDIAHOMES to disclose your information, if so required, under applicable law.
<br>
2. Cookies and other trackers used by our digital properties
Mobile Apps use requisite permissions and Software Development Kits (SDKs). These are used to make Websites & Apps work, or work more efficiently, as well as to provide information to the owners of the website/ App. We use cookies, permissions and other trackers in our Mobile App that are used to collect and process data about you so we can provide you a better online experience as well as improve our services.
<br>
3. Disclosure
We may disclose your data to appropriate authorities if we believe that it is reasonably necessary to comply with a law, regulation, legal process, to protect the safety of any person, to address fraud, security, or technical issues, or to protect our rights or the rights of those who use our Mobile App.
<br>
4. Data security
We are committed to protecting your data in our custody. We take reasonable steps to ensure appropriate physical, technical and managerial safeguards are in place to protect your data from unauthorized access, alteration, transmission and deletion. We ensure that the third parties who provide services to us under appropriate contracts, take appropriate security measures to protect your data in line with our policies.
<br>
5. Retention and disposal of data
We keep the data we collect about you on our systems or with third parties for as long as it is required for the purposes set out in this Privacy Policy and for legal or regulatory reasons. We shall take reasonable steps to delete or permanently de-identify data that is no longer needed.
<br>
6. Limitation of Liability and third parties
Our Mobile App may contain links to websites/apps/softwares of other organisations/third parties. We are not liable for any loss or damage that may occur to you on account of these third parties.

</p>
</div>
{% endblock body %}